html{
    font-size:8px;
}

.container{
    width:1100px;
    overflow: hidden;
    margin:0 auto;
  
}

h1{
    font-size:4rem;
    margin:0;
    font-family:Montserrat;
    font-weight:800;
    text-align:center;
    
}

h2{
    font-size:3rem;
      margin:0;
    font-family:Montserrat;
    font-weight:600;
}

h3{
    font-size:3rem;
    margin:0;
    font-family:Oswald;
    font-weight:700;
}

p{
    font-size:2.5rem;
    margin:0;
    font-family:Oswald;
}

a{
    font-family:Oswald;
    color:royalblue;
    text-decoration: none;
}

header p{
    display: inline;
    
    }

header p span{
    color:grey;
    }

#logo{
    display:flex;
    align-items:center;
  }

#logo img{
    display:inline;
    height:8rem;
}

#logo p{
    font-size:4rem;
}

#desktop-menu{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0 3rem;
    height:8rem;
    font-family:Montserrat;
    font-size:2.75rem;
    
 }

#mobile-menu{
    display:none;
}

#desktop-menu ul li{
    display:inline;
    margin-left:2rem;
   
}


/*   footer  */
footer{
    height:8rem;
    display:flex;
    justify-content:space-between;
    font-size:3rem;
    padding:2rem 3rem;
    font-family: Oswald;
    font-weight:400;
}

footer div a{
    margin-left:2rem;
}
    
i{
    padding-right:1rem;
}

.mobile-footer{
    display:none;
}

.mobile-courses{
    display:none;
}



/*1st main div*/


.supporting-1{
    background-color: rgba(224,224,224,0.8);
    display:flex;
    justify-content:center;
     
  }

.supporting{
    display:flex;
    justify-content:center;
}

.img-holder{
    width:60%;    
    height:auto;
    overflow:hidden;
    display:flex;
    flex-direction:column;
    margin:4rem 3rem 4rem 3rem;
    
    }


.img-holder img{
    width:100%;
    height:auto;
    transition-delay: 3000;
    opacity:1;
    transition: opacity 2000ms 300ms;
    
}

.img-holder img:hover{
    opacity:0.5;
   
}

.img-holder p{
    margin-top:3rem;
}

.info{
  
    width:40%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;

}

.info h1, .info p{
    margin-bottom: 4rem;
    text-align: left;
    width:80%;
}

button{
    padding: 1rem 0;
    width:70%;
    background-color:#4a4a4a;
    color:white;
    font-family:Oswald;
    font-size:3rem;
    border-radius: 1rem;
    transition: all 1s linear;
    
}

button:hover{
    background-color:azure;
    color:black;
    width:55%;
    height:10rem;
    border-radius:25rem;
    box-shadow: 5px 10px #888888;
    
}


/*2nd Main Div*/

.info-2{
    width:40%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top:4rem;
}

.caption{
    margin-top:2rem;
}

.mobile-tiles{
    display:none;
}

.mobile-tile{
    display:none;
}

.tiles{

    height:auto;
    display:flex;
    width:100%;
    align-items:center;
    
}

.tiles img{
    width:35%;
    height:auto;
   
    margin: 2rem 2rem;
    
}

.tiles .content{
  width:65%;    
}

.tiles .content a{
    font-family:Oswald;
    font-size:2.25rem;
    margin-top:0;
}


.tiles .content p{
    margin: 1rem 0;
 
}

#signature{
    font-size:1.8rem;
    font-weight:bold;
}
/*3rd main div*/

.container>h1{
    margin:4rem 0;
    text-align: center;
  
}


.courses-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 9rem;
    padding-right: 9rem;
    }

.course{
    display:flex;
    flex-direction:column;
    width:30%;
    margin-bottom:2rem;
}

.course img{
    margin-bottom:2rem;
    width:100%;
    height:auto;
}

.center{
    margin-left:4rem;
    margin-right:4rem;
}

#subtitle{
    margin:1rem 2rem;
}

.course p{
    margin-bottom:3rem;
}
.course h3, .course p{
    margin-left:2rem;
    
}

/*   4th main div*/
video{
    width:100%;
}

.grey{
    background-color: rgba(224,224,224,1);
}

.description h3{
      margin:3rem 0 1rem 0;
       
    }

.description p{
    margin:0 0;
    
}



/*Mobile Rules*/

@media only screen and (max-width:850px){
  
    .container{
        width:95%;s display:flex;
        flex-direction: column;
        align-items:center;
    }
    
    .header{
        display:none;
    }
    
     #desktop-menu{
        display:none;
    }
    
    #mobile-menu{
        height:8rem;
        display:flex;
        justify-content: space-around;
        align-items: center;
        width:100%;
        
    }
    
    #mobile-menu img{
        height:5rem;
        
    }
    
    .supporting, .supporting-1{
        flex-direction:column;
        align-items:center;
        margin:0 auto;
          }
        
       
    .img-holder{
        min-width:100%;
        margin:0 auto;
    }
    
    .info{
        width:100%;
        align-items: flex-start;
        padding-left:2rem;
    }
    
    .info h1{
        margin-top:4rem;
        font-size:7rem;
    }
    
    .info p{
        margin-bottom:3rem;
        font-size:3.5rem;
    }
    
    button{
        font-size:4rem;
        margin-bottom:4rem;
        align-self:center;
        width:70%;
    }
    
/*    2nd Main Div*/
    
    
    
   .supporting .img-holder:nth-of-type(0){
        display:none;
    }
    
    .caption{
/*        display:none;*/
    }
    
    .info-2{
        display:none;
        }
   
    
    .mobile-tiles{
        display:flex;
        flex-direction:column;
        align-items:center;
        width:100%;
        margin-left:2rem;
        margin-right:2rem;
        padding-top:2rem;
        
        
    }
    
    .mobile-tile{
        display:flex;
        flex-direction:column;
        width:80%;
    }
    
    .mobile-tile img{
        width:100%;
        height:auto;

    }
    
    .mobile-tile .content{  
        margin-bottom:4rem;
        padding-top:1rem;
     
    }
    
    .content h3{
        font-size:5rem;
    }

    .content p{
        font-size:4rem;
    }
    
    .content a{
        font-size:3rem;
    }
    
/*    3rd Main Div*/

    
    .container>h1{
        margin-top:4rem;
        margin-bottom:4rem;
        width:100%;
       

      
      
    }
    
    .courses-container{
        display:none;
    }
    
    .mobile-courses{
        padding-left:0;
    }
    .mobile-courses ul{
        font-size:5rem;
        font-family:Montserrat;
        font-weight:400;
       margin-top:0rem;
        color:white;
        
    }
    
    .mobile-courses{
        display:block;

    }
    
    .mobile-courses p{
        text-align: center;
    }
    
    .mobile-courses ul li{
        list-style: circle;
        background-color:grey;
        margin-bottom:1rem;
        padding: 2rem 0 3rem 2rem;
     }
    
    
/*    4th Main Div is an image holder, rule already defined above*/
    
    .description{
        display:none;
    }

/*    FOOTER     */
    
   .desktop-footer{
        display:none;
    }
    
    .mobile-footer{
        display:flex;
    }
    
    footer.mobile span{
        padding:2rem 0;
        margin:0;
       
    }
   
    
   
    
}
    
}

